
//Variables
$yellow: #ffd300;

.site-wrapper {
  min-height: 100vh;
}

.btn-yellow {
  background-color: $yellow;
}

.navbar {
  .navbar-brand {
    a {
      text-decoration: none;
    }
  }
  .nav-item {
    margin-left: 10px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
